@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to GMBdb!</h1>
    <p class="lead">GMBdb is the ultimate IMDb clone. I bet you can't wait to explore our site full of content!</p>
    <p><a href="~/Users/Login" class="btn btn-primary btn-lg">But you'll have to log in first &raquo;</a></p>
</div>